.athlete-card {
  width: 100%;
  background-color: $primaryGradient1;
  box-shadow: $primaryBoxShadow;
  border-radius: 25px;
  min-width: 250px;
  height: 500px;
  background-image: $secondaryGradient;
}

.athlete-card-header {
  background-color: $primaryColor2;
  height: 80px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  display: flex;
  align-items: center;
}
