button {
  background-image: $buttonGradientActive;
  border: 3px solid rgba(177, 242, 247, 0.75);
  border-radius: 50px;
  color: $secondaryFontColor;
  font-size: 1.1em;
  font-family: $primaryFont;
  margin: 10px;
  padding: 8px;
  width: 175px;
}

button:hover {
  background-image: $buttonGradientActiveHover;
  border: 3px solid #94e4eb;
}

button:focus {
  background-image: $buttonGradientActiveHover;
  border: 3px solid #94e4eb;
  outline: none;
}
button:disabled {
  background-color: red;
}

input {
  background: rgba(31,135,226,0.60);
  border: none;
  border-radius: 10px;
  color: $secondaryFontColor;
  font-size: 1.1em;
  margin: 10px;
  padding: 12px;
  width: 200px;
  outline: none;
  opacity: 0.9;
}

input::placeholder {
  color: $darkerPrimaryColor;
  font-family: $primaryFont;
}

input:focus {
  background: rgba(31,135,226,0.90);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
  color: $secondaryFontColor;
}
