.auth-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  .logo-small {
    display: flex;
    justify-content: flex-end;
  }
  .auth-header-nav{
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
