$primaryColor1 : #fff;
$primaryGradient1: linear-gradient(-180deg, #9AECFF 0%, #6096FF 100%);
$buttonGradientActive: linear-gradient(-180deg, rgba(56, 240, 255, 0.8) 30%, rgba(84, 172, 245, 0.8) 100%);
$buttonGradientActiveHover: linear-gradient(-180deg, rgba(56,240,255,0.88) 30%, #54ACF5 100%);
$primaryColor2: #5C72FF;

$logoFont: 'Lobster', cursive;
$primaryFontColor: #676767;
$primaryFont: 'Open Sans', sans-serif;
$secondaryFontColor: #fff;
