/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #fff; }

p {
  font-size: 14px;
  color: #40396A; }

button {
  background: none;
  color: #fff;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  opacity: 0.9; }

button:hover {
  opacity: 1; }

button:focus {
  outline: none; }

button:disabled {
  opacity: 0.5; }

.button-primary {
  background-image: linear-gradient(-180deg, rgba(56, 240, 255, 0.8) 30%, rgba(84, 172, 245, 0.8) 100%);
  border: 3px solid rgba(177, 242, 247, 0.75);
  border-radius: 50px;
  margin: 10px;
  padding: 8px;
  width: 175px; }

.button-primary:hover {
  background-image: linear-gradient(-180deg, rgba(56, 240, 255, 0.88) 30%, #54ACF5 100%);
  border: 3px solid #94e4eb; }

.button-primary:focus {
  background-image: linear-gradient(-180deg, rgba(56, 240, 255, 0.88) 30%, #54ACF5 100%);
  border: 3px solid #94e4eb;
  outline: none; }

.button-secondary {
  border: none; }

input {
  background: rgba(31, 135, 226, 0.6);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1.1em;
  margin: 10px;
  padding: 12px;
  width: 200px;
  outline: none;
  opacity: 0.9; }

input::placeholder {
  color: #3961af;
  font-family: "Open Sans", sans-serif; }

input:focus {
  background: rgba(31, 135, 226, 0.9);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  color: #fff; }

body {
  background-image: linear-gradient(-180deg, #b8d0ff 0%, #3d85d1 100%);
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center; }

.starting-screen {
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo, .logo-small {
  background: #5C72FF;
  border-radius: 10px;
  color: #fff;
  font-family: "Lobster", cursive; }

.logo {
  font-size: 4em;
  margin: 20px;
  padding: 5px 40px; }

.logo-small {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  height: 40px;
  width: 50px;
  padding: 5px 40px; }

.wave1, .wave2 {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: -1; }

.wave1 {
  mix-blend-mode: multiply; }

.wave2 {
  mix-blend-mode: lighten;
  opacity: 0.7; }

@media (max-width: 600px) {
  .app {
    height: auto;
    min-height: 100vh;
    width: auto; } }
.login-form {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 50px 25px; }
  .login-form h2 {
    margin-top: 10px; }

.register-form {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }

.register-password:after {
  content: "Must be 6 characters"; }

.dashboard {
  display: flex;
  flex-direction: column;
  background: rgba(241, 248, 255, 0.75);
  width: 100%;
  height: 100%; }

.dashboard-header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  color: #fff;
  height: 80px;
  align-items: center;
  display: flex;
  color: #40396A;
  font-size: 0.9em; }
  .dashboard-header .button-secondary {
    border-radius: 8px;
    font-size: 0.9em;
    background-color: #5C72FF;
    margin: 10px; }

.dashboard-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px; }

.dashboard-athletes-container {
  background-image: linear-gradient(-180deg, #b8d0ff 0%, #3d85d1 100%);
  box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  height: 350px;
  margin: 20px; }
  .dashboard-athletes-container .athletes-container-header {
    background-color: #5C72FF;
    height: 40px;
    width: 210px;
    padding: 20px;
    border-radius: 25px 25px 0 0;
    display: flex;
    align-items: center; }
  .dashboard-athletes-container ul {
    width: 230px; }

@media (max-width: 600px) {
  .dashboard-container {
    flex-direction: column;
    padding: 0; } }
.auth-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px; }
  .auth-header .logo-small {
    display: flex;
    justify-content: flex-end; }
  .auth-header .auth-header-nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center; }

.athletes-name {
  width: 100%;
  padding: 10px;
  background: #C7FF89;
  font-family: "Open Sans", sans-serif;
  opacity: 0.9; }

.athletes-name:hover {
  cursor: pointer;
  opacity: 1; }

.tired {
  background: #FF6C7E; }

.in-work {
  background: #FFF56F; }

.fresh {
  background: #C7FF89; }

.athlete-card {
  width: 100%;
  background-image: linear-gradient(-180deg, #b8d0ff 0%, #3d85d1 100%);
  box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  min-width: 250px;
  height: 500px;
  background-image: linear-gradient(-180deg, #4D3E9C 0%, #40396A 100%);
  display: flex;
  flex-direction: column; }

.athlete-card-header {
  background-color: #5C72FF;
  height: 80px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  display: flex;
  align-items: center; }

.athlete-card-name {
  margin: 20px;
  width: 50%;
  font-style: italic;
  font-family: "Open Sans", sans-serif; }

.athlete-card-nav {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  color: white; }
  .athlete-card-nav h3 {
    padding: 10px; }

.athlete-card-data {
  height: 400px;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .athlete-card-data p {
    font-size: 14px;
    color: #b4aaf0; }

.athlete-no-data {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  color: #fff;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%; }

.day-active, .month-active, .week-active {
  font-weight: bold;
  color: #70fef1;
  opacity: 1; }

@media (max-width: 600px) {
  .athlete-card {
    min-width: inherit;
    height: inherit; } }
.workout-container {
  padding: 20px;
  display: inline-block; }

.three {
  color: #FF6C7E; }

/*# sourceMappingURL=main.css.map */
